Django==5.2.7
python-dotenv==1.0.0
Pillow==11.1.0
django-ckeditor==6.7.0
django-ckeditor-5==0.2.12
django-admin-sortable2==3.0.0
django-editorjs-fields==3.3.1
django-unfold==0.33.0
django-jazzmin==2.8.1
gunicorn==21.2.0
django-cors-headers==4.3.1